PIP/.idea/workspace.xml
PIP/Teme/.idea/misc.xml
PIP/Teme/.idea/modules.xml
PIP/Teme/.idea/Teme.iml
PIP/Teme/.idea/vcs.xml
PIP/Teme/out/production/TemaLab2/Masina.class
PIP/Teme/out/production/TemaLab2/TestPrb.class
PIP/Teme/TemaLab2/TemaLab2.iml
